@import "tailwindcss";
@import "./assets/fonts/gilroy/style.css";

@theme {
  --font-gilroy: "Gilroy", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --background-home-hero: url("./assets/images/bg-image.webp");
}
@utility bg-home-hero {
  background-image: var(--background-home-hero);
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-gilroy);
  background-color: black;
  color: white;
}
